2nd Feb Python Assignment

Question 1 Solution:

For loop is preferred to use when we know number of iterations for a particular program or situation, on the other hand we use while loop when we know termination condition.

For example, we use for loop to print multiplication table of a number as we know that there will be exactly 10 iterations in general case.

In [1]:
for i in range(10):
    print(4, 'x', i + 1, '=', 4 * (i + 1))

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

For example, we can use while loop to count number of digits in a number taken from user as input

In [2]:
num = int(input("Enter a number: "))

count = 0

while num > 0:
    num = num // 10
    count = count + 1
    
print("Number you have entered has", count, "digits.")

Enter a number:  34572

Number you have entered has 5 digits.

Question 2 Solution:

Using 'For Loop'

In [3]:
sum, prod = 0, 1

for i in range(1, 11):
    sum = sum + i
    prod = prod * i
    
print("Sum and product of first 10 natural numbers are", sum, "and", prod, "respectively.")

Sum and product of first 10 natural numbers are 55 and 3628800 respectively.

Using 'While Loop'

In [4]:
sum, prod = 0, 1
i = 1

while i <= 10:
    sum = sum + i
    prod = prod * i
    i = i + 1

print("Sum and product of first 10 natural numbers are", sum, "and", prod, "respectively.")

Sum and product of first 10 natural numbers are 55 and 3628800 respectively.

Question 3 Solution:

In [5]:
units = int(input("Enter units being consumed: "))
bill = 0

if units <= 100:
    bill = units * 4.5
elif units > 100 and units <= 200:
    bill = (100 * 4.5) + (units % 100) * 6
elif units > 200 and units <= 300:
    bill = (100 * 4.5) + (100 * 6) + (units % 200) * 10
else:
    bill = (100 * 4.5) + (100 * 6) + (100 * 10) + (units % 300) * 20 
    
print("Your electricity bill is of Rs.", bill)

Enter units being consumed:  310

Your electricity bill is of Rs. 2250.0

Question 4 Solution:

In [6]:
list1 = []

In [7]:
# inserting elements 1 to 100 in the list

for i in range(1, 101):
    list1.append(i)

In [8]:
reslist = []

Using for loop to calculate cube of each element of the list1

In [9]:
for i in list1:
    if (i ** 3) % 4 == 0 or (i ** 3) % 5 == 0:
        reslist.append(i)

In [10]:
reslist

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [11]:
newlist = []

Using while loop to calculate cube of each element of the list1

In [12]:
i = 0

while i < 100:
    if (list1[i] ** 3) % 4 == 0 or (list1[i] ** 3) % 5 == 0:
        newlist.append(list1[i])
    i = i + 1

In [13]:
newlist

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

Question 5 Solution:

In [14]:
string = "I want to become a data scientist"

In [15]:
filtered_string = ""

In [16]:
for i in range(len(string)):
    if string[i] == 'a' or string[i] == 'e' or string[i] == 'i' or string[i] == 'o' or string[i] == 'u':
        filtered_string = filtered_string + string[i]
    elif string[i] == 'A' or string[i] == 'E' or string[i] == 'I' or string[i] == 'O' or string[i] == 'U':
        filtered_string = filtered_string + string[i]

In [17]:
filtered_string

'Iaoeoeaaaiei'

In [18]:
print("Number of vowels in the given string:", len(filtered_string))

Number of vowels in the given string: 12